<%- include('../partials/header.ejs', {title: "Write-ups"}); %> 

<main>
    <form action="/api/post/tags" method="POST">
        <label for="tag">Add a tag : </label>
        <input type="text" name="tag" id="tag" autocomplete="off">
        <input type="submit" value="Envoyer">
    </form>
    <form action="/api/post/categories" method="POST">
        <label for="category">Add a category : </label>
        <input type="text" name="category" id="category" autocomplete="off">
        <input type="submit" value="Envoyer">
    </form>
    <form action="/api/post/wus" method="post" enctype="multipart/form-data">
        <label for="name">Add a write-up : </label>
        <input type="text" name="name" id="name" autocomplete="off" />
        <select name="cat" id="cat">
            <% if (locals.categories) { %>
                <% categories.forEach(element => { %>
                    <option value="<%= element.name %>"><%= element.name %></option>
                <% }) %>
            <% } %>
        </select>
        <input type="date" name="date" id="date" />
        <input type="file" name="foo" id="foo">
        <input type="submit" value="Envoyer" />
    </form>

    <form action="/api/post/addtag" method="post">
        <label for="wu">Select a tag for :</label>
        <select name="wu" id="wu">
            <% if (locals.wu) { %>
                <% wu.forEach(element => { %>
                    <option value="<%= element.name %>"><%= element.name %></option>
                <% }) %>
            <% } %>
        </select>
        <label for="tag">---></label>
        <select name="tag" id="tag">
            <% if (locals.tags) { %>
                <% tags.forEach(element => { %>
                    <option value="<%= element.name %>"><%= element.name %></option>
                <% }) %>
            <% } %>
        </select>
        <input type="submit" value="Envoyer">
    </form>

    <% if (locals.wu) { %>
        <% wu.forEach(element => { %>
            <a href="/api/get/tagsfromwu?wu=<%= element.name %>"><%= element.name %></a>
        <% }) %>
    <% } %>

    
    <h1>Tags</h1>
    <ul>
    <% if (locals.tags) { %>
        <% tags.forEach(element => { %>
           <li><%= element.name %></li>
        <% }) %>
    <% } %>
    </ul>
</main>

<%- include('../partials/footer.ejs'); %>